.section202 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.mission {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3rem;
    font-size: 32px;
    margin-bottom: 5rem;

}

.mission2 {
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 3rem;
    font-size: 36px;
    font-weight: 700;
}
