.register-input-container {
    position: relative;
    width: 49%;
    margin: 0 auto;
}

.register-input {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    border: none;
    border-radius: 50px;
    font-size: 32px;
    color: black;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.loop-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    height: 37px;
}
