.header {
    width: 90vw;
    height: 79px;
    position: relative;
    border-radius: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.58);
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
}

.navItem {
    margin-right: 3rem;
    font-size: 22px;
}

.navItem:last-child {
    margin-left: auto;
}

.sunLight {
    margin-left: auto;
}

.country {
    margin-right: auto;
    font-size: 25px;
    margin-left: 2rem;
}

.userProfile {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.registerButton,
.loginButton {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #3F3F3F;
    margin-right: 2rem;
    font-size: 22px;
}

.registerButton {
    background-color: #3F3F3F;
}

.loginButton {
    background-color: transparent;
    color: #3F3F3F;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 40rem;
    margin-left: 2rem;
    font-size: 20px;
    cursor: pointer;
}

.logoText {
    margin-left: 2rem;
    font-weight: 600;
    font-size: 24px;
}


.avatar1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 2rem;
  }

@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        border-radius: 20px;
    }

    .logo {
        margin-right: 0;
        margin-left: 0;
        font-size: 20px;
    }

    .logoText {
        margin-left: 1rem;
    }

    .navList {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .navItem {
        margin-right: 0;
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .sunLight {
        order: -1;
        margin-bottom: 1rem;
    }

    .country {
        order: -1;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .registerButton,
    .loginButton {
        margin-right: 0;
        margin-bottom: 1rem;
        padding: 8px 16px;
    }
}